<!DOCTYPE html>
<html>
<head>

    <title>CircularX AI</title>

    <meta http-equiv="refresh" content="2;url=/login">

    <style>

        body{
            margin:0;
            padding:0;
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
            background:#0d6efd;
            color:white;
            font-family:Arial;
            flex-direction:column;
        }

        h1{
            font-size:60px;
        }

        p{
            font-size:20px;
        }

    </style>

</head>

<body>

    <h1>CircularX AI</h1>



</body>
</html>